{{!-- use the component to add up all the prices and return the total at the bottom --}}
{{!--
the images should be the same height
everything is constrained to the the square aspect ratio --}}

<img class="card-image" src="{{item.avatar}}">
<div class="card-details">
  <p>{{item.name}}</p>
  <p>{{item.sentence}}</p>
  <p>{{item.age}}</p>
  <p>{{item.word}}</p>
</div>
<div class="card-price">
  <p>${{item.price}}</p>
</div>
